<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75602672651-f6sns5st32pqvkk8u0507fefneqg31r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75602672651-f6sns5st32pqvkk8u0507fefneqg31r2</string>
	<key>API_KEY</key>
	<string>AIzaSyCBqn9Q1AAd6z68LKNc63R_sTdSbpV8s-4</string>
	<key>GCM_SENDER_ID</key>
	<string>75602672651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shimizusena.TinderSampleApp</string>
	<key>PROJECT_ID</key>
	<string>tindersampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tindersampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75602672651:ios:399cefd6df6546b90fdb0e</string>
</dict>
</plist>